@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@import "tailwindcss";

* {
	box-sizing: border-box;
	font-family: "Geist", sans-serif;
	font-optical-sizing: auto;
	font-weight: 450;
	font-style: normal;
}

body {
	margin: 0;
	padding: 0;
}
