---
import "../styles/global.css";

import Footer from "@/components/Footer.astro";
import Header from "../components/Header.astro";

interface Props {
    title: string;
    description?: string;
}
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Selfmail</title>
    </head>
    <body class="antialiased root">
        <Header />
        <slot />
        <Footer />
    </body>
</html>
