node_modules
.turbo
.vercel

# Environment variables
.env

# Rspamd stuff
rspamd/var
rspamd/etc/maps.d
rspamd/etc/override.d
rspamd/etc/local.d/worker-controller.inc

# Keys for DKIM
/keys
/keys/*.pem
i18n.cache

# Infisical
.infisical.json