@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light mode */
:root {
  --font-geist-sans: "Geist Sans", sans-serif;
  --font-geist-sans-mono: "Geist Sans Mono", monospace;

  --bg-primary: #ffffff;
  --bg-secondary: #f4f4f4;
  --bg-accent: #e8e8e8;

  --text: #000000;
  --text-primary: #000000;
  --text-secondary: #101010;
  --text-accent: #666666;
  --text-info: #666666;

  --primary: #666666;
  --secondary: #666666;
  --accent: #a33f3f;
  --info: #666666;
  --bg-primary: #000000;
  --danger: #666666;
}

/* Dark mode */
[data-theme="dark"] {
  --font-geist-sans: "Geist Sans", sans-serif;
  --font-geist-sans-mono: "Geist Sans Mono", monospace;
  --bg-primary: #000000;
  --bg-secondary: #000000;
  --bg-accent: #000000;

  --text-primary: #ffffff;
  --text-secondary: #ffffff;
  --text-accent: #ffffff;
  --text-info: #ffffff;

  --primary: #ffffff;
  --secondary: #ffffff;
  --accent: #ffffff;
  --info: #ffffff;
  --danger: #ffffff;
}

/* @layer base {
  p,
  span,
  svg {
    @apply text-text-secondary;
  }
  h1,
  h2,
  h3 {
    @apply text-text-primary;
  }
} */
