@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap");

@import "tailwindcss";

:root {
	--color-background: #101010;
}

body {
	font-family: "Geist", sans-serif;
	background-color: var(--color-background);
	color: #f0f0f0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Host Grotesk", sans-serif;
	font-weight: 600;
}

/* Navigation hover effects */
.nav-container:hover .nav:not(:hover) {
	opacity: 0.5;
	transition: opacity 0.2s ease-in-out;
}

.nav {
	transition: opacity 0.2s ease-in-out;
}
