---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Features | Selfmail">
    <main class="w-full flex flex-col">
        <h1 class="text-8xl font-medium mx-20 mt-20">Features</h1>
    </main>
</Layout>
