---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<main class="min-h-screen w-full flex flex-col">
		<div class="flex flex-col h-screen justify-center">
			<h1
				class="font-medium w-full text-center leading-none whitespace-nowrap overflow-hidden"
				style="font-size: clamp(2vw, 5.5vw, 8vw); letter-spacing: -0.02em;"
			>
				SELFMAIL DEVELOPERS
			</h1>
		</div>
	</main>
</Layout>
