---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<Header />
	<main class="w-full flex flex-col">
		<div class="flex mt-24 flex-col items-center justify-center">
			<h1 class="text-center text-7xl">
				<span class="text-neutral-300">The Business First</span><br /> Email
				Platform
			</h1>
			<div class="flex items-center flex-row space-x-6 mt-8">
				<a
					href="/features"
					class="text-neutral-100 hover:text-neutral-300"
				>
					Learn More
				</a>
				<a
					href="https://dashboard.selfmail.app/auth/register"
					class="text-black bg-neutral-100 px-4 py-2 rounded-full hover:bg-neutral-200 pr-5 transition-colors"
				>
					Start Now for Free
				</a>
			</div>
		</div>
	</main>
</Layout>
