---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<Header />
	<main class="w-full flex flex-col">
		<div class="flex mt-24 flex-col items-center justify-center">
			<h1 class="text-center text-4xl sm:text-6xl md:text-7xl">
				<span class="text-neutral-300">The Business First</span><br /> Email
				Platform
			</h1>
			<div class="flex items-center flex-row space-x-6 mt-8">
				<a
					href="/features"
					class="text-neutral-100 hover:text-neutral-300"
				>
					Learn More
				</a>
				<a
					href="https://dashboard.selfmail.app/auth/register"
					class="text-black bg-neutral-100 px-4 py-2 rounded-full hover:bg-neutral-200 pr-5 transition-colors"
				>
					Start Now for Free
				</a>
			</div>
		</div>
		<div class="flex w-full mt-20 relative h-full">
			<img
				src="/image.png"
				alt="Hero Image"
				class="w-full h-auto pointer-events-none select-none"
			/>
		</div>
		<div class="lg:px-20 flex flex-col mt-32 space-y-12">
			<div class="flex flex-col space-y-3">
				<h2 class="text-5xl text-center">Made for the AI Century</h2>
				<p
					class="text-neutral-300 text-center text-balance max-w-2xl mx-auto"
				>
					Selfmail is ment to be used with AI. We leverage advanced
					machine learning algorithms to enhance your email
					experience.
				</p>
			</div>
			<div
				class="grid gap-px outline outline-neutral-700 grid-cols-8 grid-rows-6 w-full"
			>
				<div class="outline outline-neutral-700 aspect-square"></div>
				<div
					class="flex hover:bg-red-500/20 transition-colors relative flex-col space-y-3 item-center h-full justify-center w-full col-span-6 row-span-2 outline outline-neutral-700"
				>
					<div
						class="inset-0 bg-(--color-background) absolute rounded-full outline outline-neutral-700"
					>
						<h2 class="text-center text-3xl">
							Intelligent Spam Filter
						</h2>
					</div>
				</div>
				<div class="outline outline-neutral-700 aspect-square"></div>
				<div class="outline outline-neutral-700 aspect-square"></div>
				<div class="outline outline-neutral-700 aspect-square"></div>
				<div class="outline outline-neutral-700 aspect-square"></div>
				<div class="outline outline-neutral-700 aspect-square"></div>
				<div class="outline outline-neutral-700 aspect-square"></div>
				<div class="outline outline-neutral-700 aspect-square"></div>
				<div class="outline outline-neutral-700 aspect-square"></div>
				<div class="outline outline-neutral-700 aspect-square"></div>
			</div>
		</div>
	</main>
</Layout>
