@media (prefers-color-scheme: dark) {
    :root {
        --primary: #666666;
        --secondary: #121212;
        
        --background: #121212;
        --background-secondary: #1e1e1e;

        --foreground: #e8e8e8;
        --foreground-secondary: #666666;

        --border: #666666;
        --border-secondary: #e8e8e8;

        /* color for marking smthg */
        --highlight: #666666;
    }
}