:root {
    --primary: #296dff;
    --secondary: #f79f79;
    
    --background: #e8e8e8;
    --background-secondary: #d1d1d1;
    --background-primary: #ffffff;

    --foreground: #121212;
    --foreground-secondary: #343434;

    --border: #BCBCBC;
    --border-secondary: #999999;

    /* color for marking smthg */
    --highlight: #e3f09b;
}