:root {
  /* Light Theme */
  --highlight: #d5cdfe;

  --bg-main: #ffffff;
  --bg-secondary: #f9fafb;
  --bg-tertiary: #f3f4f6;
  
  --text-primary: #111111;
  --text-secondary: #1a1a1a;
  --text-tertiary: #262626;
  
  --border: #e5e7eb;
  --border-secondary: #d1d5db;
  
  --hover-bg: #f3f4f6;
  --hover-text: #292929;
}

html.dark {
  --highlight: #0d2c0a;
  
  --bg-main: #111111;
  --bg-secondary: #1a1a1a;
  --bg-tertiary: #262626;
  
  --text-primary: #f3f4f6;
  --text-secondary: #d1d5db;
  --text-tertiary: #9ca3af;
  
  --border: #262626;
  --border-secondary: #404040;
  
  --hover-bg: #262626;
  --hover-text: #e5e7eb;
}