<header
    class="w-full flex flex-row px-5 md:px-10 lg:px-20 justify-between items-center h-16"
>
    <div class="flex flex-row items-center gap-12">
        <h1 class="font-medium text-xl space-x-1">
            <img src="/logo.png" alt="Selfmail Logo" class="h-8 inline-block" />
            <span class="align-middle">Selfmail</span>
        </h1>
        <div
            class="hidden lg:flex nav-container flex-row space-x-3 items-center"
        >
            <a href="/features" class="nav transition-colors">Features</a>
            <a href="/pricing" class="nav transition-colors">Pricing</a>
            <a
                href="https://docs.selfmail.app"
                target="_blank"
                class="nav transition-colors">Docs</a
            >
        </div>
    </div>
</header>
